.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {

  from{
    opacity:0;
    transform:translate(-50%,-40px);
  }

  to{
    opacity:1;
    transform:translate(-50%,0);
  }

}

@keyframes pulseBadge {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px #38bdf8;
  }

  50% {
    transform: scale(1.15);
    box-shadow: 0 0 18px #38bdf8;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px #38bdf8;
  }
}

.cash-table-wrapper{
  overflow-x:auto;
  margin-top:15px;
}

.cash-table{
  width:100%;
  min-width: 900px;
  border-collapse:collapse;
  background:#0f172a;
  border-radius:12px;
  overflow:hidden;
}

.cash-table th{
  background:#1e293b;
  color:white;
  padding:14px;
  text-align:left;
}

.cash-table td{
  padding:14px;
  border-bottom:1px solid #334155;
  color:white;
}

.cash-table tr:hover{
  background:#16213e;
}

.view-btn{
  background:#3b82f6;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:8px;
font-weight: 600;}

.approve-btn{
  background:#22c55e;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:8px;
 font-weight: 600;
}

.reject-btn{
  background:#ef4444;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:8px;
font-weight: 600;}